html {
    background-color: whitesmoke;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    margin: auto;
}

@media (min-width: 768px) {
    main {
        width: 70%;
    }
}

input#search {
    font-size: large;
    text-align: center;
    width: 100%;
    padding: 0.4em;
    border-radius: 0.4em;
}

#mecab {
    margin-top: 1em;
}

h1,
h2,
h3 {
    font-weight: normal;
}

cite {
    font-size: smaller;
    color:dimgray;
}

cite > a {
    color: inherit;
}

.mecab-wrapper {
    margin: 0 0.2em;
}

.mecab-token {
    padding: 0.1em 0.2em;
    margin: 0;
    font-size: large;
    background-color: transparent;
    border: 0.5px solid black;
}

.mecab-token:hover {
    font-weight: bolder;
}

.unknown {
    color: maroon;
}

.is-known-toggle {
    float: right;
}

/* Entries */

.entry {
    box-shadow: lightgray 1px 3px 8px;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}

.entry>* {
    margin: 0.4em 0;
}

.part-of-speech {
    font-style: italic;
    font-weight: normal;
}

.gloss-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.gloss-list>li {
    margin: 0.5em 1em;
    list-style-position: inside;
}

/* Helpers */

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    align-self: center;
}